In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df=pd.read_csv("BANGALORE.csv")
df.head()

,_id,Date Time,profile,company,Location,Start Date,Stipend,Duration,Apply by Date,Offer,Skills and Perks
0,5f9fc1e3fb43357b9094a297,2020-11-02 13:52:57,Fashion Design,Enamor,Bangalore,Immediately,5000 /month,2 Months,11 Nov' 20,Internship,"[""MS-Office"",""Adobe Illustrator"",""CorelDRAW"",""..."
1,5f9fc1e4fb43357b9094a298,2020-11-02 13:52:59,Operations,Lakshmi Tools & Components,Hoskote,Immediately,12000 /month,1 Month,16 Nov' 20,Internship,"[""Chemistry"",""Certificate"","" Letter of recomme..."
2,5f9fc1e4fb43357b9094a299,2020-11-02 13:53:00,Photography,Evineon Technologies,Bangalore,Immediately,10000-12000 /month,3 Months,16 Nov' 20,Internship,"[""Flexible work hours"","" Free snacks & beverag..."
3,5f9fc1e5fb43357b9094a29a,2020-11-02 13:53:00,Social Media Marketing,VisualNet Private Limited,Bangalore,Immediately,7000 /month,6 Months,16 Nov' 20,Internship,"[""MS-Office"",""Certificate"","" Letter of recomme..."
4,5f9fc1e6fb43357b9094a29b,2020-11-02 13:53:01,Business Development (Sales),DM Consulting (India) Private Limited,Bangalore,Immediately,5000 /month,6 Months,16 Nov' 20,Internship,[]

In [3]:
for i in df.columns:
    print(i,":",df[i].nunique())

_id : 513
Date Time : 403
profile : 153
company : 378
Location : 21
Start Date : 2
Stipend : 98
Duration : 11
Apply by Date : 24
Offer : 2
Skills and Perks : 387

In [4]:
df.isna().sum()

_id                 0
Date Time           0
profile             0
company             0
Location            0
Start Date          0
Stipend             0
Duration            0
Apply by Date       0
Offer               0
Skills and Perks    0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df['Skills and Perks'].value_counts().head(10)

Skills and Perks
[]                                                                                           21
["Certificate"]                                                                              17
["Certificate"," Letter of recommendation"]                                                  14
["Certificate"," Letter of recommendation"," Flexible work hours"," Job offer"]              10
["Certificate"," Letter of recommendation"," Flexible work hours"," Informal dress code"]     9
["Certificate"," Letter of recommendation"," Flexible work hours"]                            8
["Certificate"," Job offer"]                                                                  6
["Certificate"," Letter of recommendation"," Job offer"]                                      5
["Certificate"," Letter of recommendation"," Informal dress code"]                            4
["Certificate"," Flexible work hours"]                                                        4
Name: count, dtype: int64

In [7]:
df['Skills and Perks'].head(30)

0     ["MS-Office","Adobe Illustrator","CorelDRAW","...
1     ["Chemistry","Certificate"," Letter of recomme...
2     ["Flexible work hours"," Free snacks & beverag...
3     ["MS-Office","Certificate"," Letter of recomme...
4                                                    []
5     ["Digital Marketing","Certificate"," Letter of...
6     ["MS-PowerPoint","English Proficiency (Spoken)...
7     ["Digital Marketing","Certificate"," Letter of...
8     ["Social Media Marketing","Adobe Photoshop","V...
9     ["Python","Linux","Ethical Hacking","C Program...
10                         ["Salesforce","Certificate"]
11    ["Tally","MS-Excel","English Proficiency (Spok...
12    ["SQL","Hibernate (Java)","Spring MVC","REST A...
13    ["Python","Algorithms","Data Structures","Flas...
14    ["Adobe Photoshop","Adobe Illustrator","Adobe ...
15    ["Search Engine Optimization (SEO)","Certifica...
16    ["Certificate"," Letter of recommendation"," I...
17    ["Recruitment","English Proficiency (Spoken)",...
18    ["Social Media Marketing","Adobe Photoshop","A...
19    ["Social Media Marketing","Certificate"," 5 da...
20    ["Certificate"," Letter of recommendation"," I...
21          ["MS-Office","MS-PowerPoint","Certificate"]
22    ["Objective C","Swift","iOS","Certificate"," L...
23    ["MS-Word","Digital Marketing","Email Marketin...
24    ["Certificate"," Letter of recommendation"," I...
25                                      ["Certificate"]
26    ["Python","Embedded Systems","C Programming","...
27                                                   []
28    ["English Proficiency (Spoken)","Certificate",...
29    ["MS-Office","Certificate"," Letter of recomme...
Name: Skills and Perks, dtype: object

In [8]:
skills = [".NET",
    "3ds Max",
    "ASP.NET",
    "Accounting",
    "Adobe After Effects",
    "Adobe Audition",
    "Adobe Creative Suite",
    "Adobe Dreamweaver",
    "Adobe Fireworks",
    "Adobe Flash",
    "Adobe Illustrator",
    "Adobe Indesign",
    "Adobe Photoshop",
    "Adobe Photoshop Lightroom CC",
    "Adobe Premiere Pro",
    "Adobe XD",
    "Algorithms",
    "Amazon Web Server (AWS)",
    "Amazon Web Services (AWS)",
    "Android",
    "Angular 2.0",
    "Angular 7.0",
    "AngularJS",
    "Animation",
    "Arduino",
    "Artifical Intelligence",
    "AutoCAD",
    "Autodesk Maya",
    "Autodesk Revit",
    "BIM (Building Information Modeling)",
    "Bengali Proficiency (Spoken)",
    "Bengali Proficiency (Written)",
    "Biology",
    "Blender 3D",
    "Blogging",
    "Bootstrap",
    "C Programming",
    "C++ Programming",
    "CSS",
    "Chemistry",
    "Client Relationship",
    "Cloud Computing",
    "CodeIgniter",
    "Computer Networking",
    "Computer Networks",
    "Copywriting",
    "CorelDRAW",
    "Creative Writing",
    "CRM",
    "CSS3",
    "Camtasia",
    "Canva",
    "Catia",
    "ChemDraw",
    "Cinema 4D",
    "Civil Engineering",
    "Communication Skills",
    "Content Writing",
    "Creative Designing",
    "Cryptography",
    "Data Entry",
    "Data Mining",
    "Data Science",
    "Data Structures",
    "Database Management System (DBMS)",
    "Deep Learning",
    "Design Thinking",
    "Digital Marketing",
    "Django",
    "Docker",
    "Drawing",
    "Economics",
    "Editing",
    "Electronics",
    "Embedded Systems",
    "Engineering Drawing",
    "English Proficiency (Spoken)",
    "English Proficiency (Written)",
    "Entrepreneurship",
    "Event Management",
    "Excel",
    "Fashion Designing",
    "Final Cut Pro",
    "Finance",
    "Flask",
    "French Proficiency (Spoken)",
    "French Proficiency (Written)",
    "Front-end Development",
    "Fusion 360",
    "Git",
    "GitHub",
    "Google Analytics",
    "Google Cloud Computing",
    "Google SketchUp",
    "Hindi Proficiency (Spoken)",
    "Hindi Proficiency (Written)",
    "HTML",
    "Illustration",
    "Internet of Things (IoT)",
    "Interview Skills",
    "Java",
    "JavaScript",
    "Joomla",
    "Journalism",
    "Kotlin",
    "Laravel",
    "Leadership",
    "Linux",
    "Machine Learning",
    "Management",
    "Marketing",
    "MATLAB",
    "Mechanical Engineering",
    "Microsoft Excel",
    "Microsoft PowerPoint",
    "Microsoft Word",
    "MongoDB",
    "MS-Excel",
    "MS-Office",
    "MS-PowerPoint",
    "MS-Word",
    "MySQL",
    "Natural Language Processing (NLP)",
    "Negotiation",
    "Node.js",
    "Objective C",
    "OpenCV",
    "Operating System",
    "Oracle",
    "PCB Design",
    "Perl",
    "Photography",
    "PHP",
    "PostgreSQL",
    "Problem Solving",
    "Programming",
    "Project Management",
    "Prototyping",
    "Public Speaking",
    "Python",
    "R Programming",
    "ReactJS",
    "Recruitment",
    "Research and Analytics",
    "REST API",
    "Robotics",
    "Ruby on Rails",
    "SAP",
    "Scala",
    "Search Engine Optimization (SEO)",
    "Social Media Marketing",
    "Software Testing",
    "SolidWorks",
    "Spanish Proficiency (Spoken)",
    "Spanish Proficiency (Written)",
    "Spring MVC",
    "SQL",
    "Statistics",
    "Swift",
    "Tableau",
    "Tally",
    "Team Management",
    "Technical Writing",
    "Time Management",
    "Unity 3D",
    "Unreal Engine",
    "Video Editing",
    "Virtual Reality (VR)",
    "Vue Js",
    "Web Development",
    "WordPress",
    "Writing"
]


perks = ['Certificate','Letter of recommendation','Flexible work hours','Free snacks & beverages','5 days a week','Job offer']

In [9]:
import ast

def to_list(x):
    if isinstance(x, str):
        try:
            return ast.literal_eval(x)
        except:
            return [x]
    return x

df['Skills and Perks'] = df['Skills and Perks'].apply(to_list)

In [10]:
def split_skills_perks(items):
    skills_col, perks_col = [], []
    for item in items:
        item_clean = item.strip()
        if item_clean in perks:
            perks_col.append(item_clean)
        else:
            skills_col.append(item_clean)
    return pd.Series([', '.join(skills_col), ', '.join(perks_col)])

df[['Skills', 'Perks']] = df['Skills and Perks'].apply(split_skills_perks)

In [11]:
df=df.drop(columns='Skills and Perks')
df.head()

,_id,Date Time,profile,company,Location,Start Date,Stipend,Duration,Apply by Date,Offer,Skills,Perks
0,5f9fc1e3fb43357b9094a297,2020-11-02 13:52:57,Fashion Design,Enamor,Bangalore,Immediately,5000 /month,2 Months,11 Nov' 20,Internship,"MS-Office, Adobe Illustrator, CorelDRAW",Certificate
1,5f9fc1e4fb43357b9094a298,2020-11-02 13:52:59,Operations,Lakshmi Tools & Components,Hoskote,Immediately,12000 /month,1 Month,16 Nov' 20,Internship,"Chemistry, Informal dress code","Certificate, Letter of recommendation, Free sn..."
2,5f9fc1e4fb43357b9094a299,2020-11-02 13:53:00,Photography,Evineon Technologies,Bangalore,Immediately,10000-12000 /month,3 Months,16 Nov' 20,Internship,,"Flexible work hours, Free snacks & beverages"
3,5f9fc1e5fb43357b9094a29a,2020-11-02 13:53:00,Social Media Marketing,VisualNet Private Limited,Bangalore,Immediately,7000 /month,6 Months,16 Nov' 20,Internship,"MS-Office, Informal dress code","Certificate, Letter of recommendation, Flexibl..."
4,5f9fc1e6fb43357b9094a29b,2020-11-02 13:53:01,Business Development (Sales),DM Consulting (India) Private Limited,Bangalore,Immediately,5000 /month,6 Months,16 Nov' 20,Internship,,

In [12]:
df['Skills'].replace("", "None", inplace=True)
df['Perks'].replace("", "None", inplace=True)
df.head()

C:\Users\boomi\AppData\Local\Temp\ipykernel_18084\3340754277.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Skills'].replace("", "None", inplace=True)
C:\Users\boomi\AppData\Local\Temp\ipykernel_18084\3340754277.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Perks'].replace("", "None", inplace=True)

,_id,Date Time,profile,company,Location,Start Date,Stipend,Duration,Apply by Date,Offer,Skills,Perks
0,5f9fc1e3fb43357b9094a297,2020-11-02 13:52:57,Fashion Design,Enamor,Bangalore,Immediately,5000 /month,2 Months,11 Nov' 20,Internship,"MS-Office, Adobe Illustrator, CorelDRAW",Certificate
1,5f9fc1e4fb43357b9094a298,2020-11-02 13:52:59,Operations,Lakshmi Tools & Components,Hoskote,Immediately,12000 /month,1 Month,16 Nov' 20,Internship,"Chemistry, Informal dress code","Certificate, Letter of recommendation, Free sn..."
2,5f9fc1e4fb43357b9094a299,2020-11-02 13:53:00,Photography,Evineon Technologies,Bangalore,Immediately,10000-12000 /month,3 Months,16 Nov' 20,Internship,None,"Flexible work hours, Free snacks & beverages"
3,5f9fc1e5fb43357b9094a29a,2020-11-02 13:53:00,Social Media Marketing,VisualNet Private Limited,Bangalore,Immediately,7000 /month,6 Months,16 Nov' 20,Internship,"MS-Office, Informal dress code","Certificate, Letter of recommendation, Flexibl..."
4,5f9fc1e6fb43357b9094a29b,2020-11-02 13:53:01,Business Development (Sales),DM Consulting (India) Private Limited,Bangalore,Immediately,5000 /month,6 Months,16 Nov' 20,Internship,None,None

In [13]:
df['Skills_list'] = df['Skills'].apply(lambda x: x.split(", ") if x != "None" else [])

# Create MultiLabelBinarizer for all skills
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
skills_encoded = pd.DataFrame(mlb.fit_transform(df['Skills_list']), columns=mlb.classes_)

# Keep only top skills appearing more than 5 times
top_skills = skills_encoded.sum()[skills_encoded.sum() > 5].index
skills_encoded_top = skills_encoded[top_skills]

# Add skills count column
df['Skills_count'] = df['Skills_list'].apply(len)

# Concatenate top skills
df = pd.concat([df, skills_encoded_top], axis=1)

In [14]:
df["Date Time"]=pd.to_datetime(df["Date Time"],errors="coerce")
df["Date"]=df["Date Time"].dt.day
df["month"]=df["Date Time"].dt.month
df["year"]=df["Date Time"].dt.year
df["time"]=df["Date Time"].dt.time
df=df.drop(columns='Date Time')
df.head()

,_id,profile,company,Location,Start Date,Stipend,Duration,Apply by Date,Offer,Skills,...,Social Media Marketing,Tally,Video Editing,Video Making,WordPress,iOS,Date,month,year,time
0,5f9fc1e3fb43357b9094a297,Fashion Design,Enamor,Bangalore,Immediately,5000 /month,2 Months,11 Nov' 20,Internship,"MS-Office, Adobe Illustrator, CorelDRAW",...,0,0,0,0,0,0,2,11,2020,13:52:57
1,5f9fc1e4fb43357b9094a298,Operations,Lakshmi Tools & Components,Hoskote,Immediately,12000 /month,1 Month,16 Nov' 20,Internship,"Chemistry, Informal dress code",...,0,0,0,0,0,0,2,11,2020,13:52:59
2,5f9fc1e4fb43357b9094a299,Photography,Evineon Technologies,Bangalore,Immediately,10000-12000 /month,3 Months,16 Nov' 20,Internship,None,...,0,0,0,0,0,0,2,11,2020,13:53:00
3,5f9fc1e5fb43357b9094a29a,Social Media Marketing,VisualNet Private Limited,Bangalore,Immediately,7000 /month,6 Months,16 Nov' 20,Internship,"MS-Office, Informal dress code",...,0,0,0,0,0,0,2,11,2020,13:53:00
4,5f9fc1e6fb43357b9094a29b,Business Development (Sales),DM Consulting (India) Private Limited,Bangalore,Immediately,5000 /month,6 Months,16 Nov' 20,Internship,None,...,0,0,0,0,0,0,2,11,2020,13:53:01

In [15]:
df=df.drop(columns="_id")

In [16]:
df.columns

Index(['profile', 'company', 'Location', 'Start Date', 'Stipend', 'Duration',
       'Apply by Date', 'Offer', 'Skills', 'Perks', 'Skills_list',
       'Skills_count', '3ds Max', 'Accounting', 'Adobe After Effects',
       'Adobe Creative Suite', 'Adobe Illustrator', 'Adobe Photoshop',
       'Adobe Photoshop Lightroom CC', 'Adobe Premiere Pro', 'Android',
       'AutoCAD', 'Blogging', 'Bootstrap', 'CSS', 'Client Relationship',
       'Copywriting', 'CorelDRAW', 'Creative Writing', 'Digital Marketing',
       'Email Marketing', 'English Proficiency (Spoken)',
       'English Proficiency (Written)', 'Facebook Marketing', 'Flutter',
       'Google AdWords', 'Google Analytics', 'HTML',
       'Hindi Proficiency (Spoken)', 'Informal dress code',
       'Instagram Marketing', 'Java', 'JavaScript',
       'Kannada Proficiency (Spoken)', 'Linux', 'MS-Excel', 'MS-Office',
       'MS-PowerPoint', 'MS-Word', 'Node.js', 'PHP', 'Photography', 'Python',
       'ReactJS', 'SQL', 'Salesforce', 'Search Engine Marketing (SEM)',
       'Search Engine Optimization (SEO)', 'Social Media Marketing', 'Tally',
       'Video Editing', 'Video Making', 'WordPress', 'iOS', 'Date', 'month',
       'year', 'time'],
      dtype='object')

In [17]:
df['Stipend'].unique()

array([' 5000 /month', ' 12000 /month', ' 10000-12000 /month',
       ' 7000 /month', ' 5000-10000 /month', ' 2000-3000 /month',
       ' 4000-7000 /month', ' 8000 /month', ' 15000-18000 /month',
       ' 3000 /month', ' 8000-12000 /month', ' 9000-12000 /month',
       ' 10000-20000 /month', ' 7000-13000 /month', ' 4000 /month',
       ' 7000-12000 /month', ' 10000 /month', ' 15000 /month',
       ' 2000 /month +  Incentives', ' 3500 /month', ' 3000-5000 /month',
       ' 2000 /month', ' 11000 /month', ' 20000 /month',
       ' 10000-15000 /month', ' 8000-10000 /month', ' 2000 lump sum',
       ' 15000-25000 /month', ' 18000 /month', ' 4000-9000 /month',
       ' 8000-15000 /month', ' 7000-10000 /month', ' 6000-7000 /month',
       ' 25000 /month', ' 8000-13000 /month',
       ' 7000 /month +  Incentives', ' 9500 /month',
       ' 12000 /month +  Incentives', ' 17500 /month',
       ' 5000-7000 /month', 'Performance Based', ' 15000-20000 /month',
       ' 7500 /month', ' 10000-14000 /month', ' 18000-20000 /month',
       ' 6000-12000 /month', ' 6000 /month', ' 9000 /month',
       ' 10000-18000 /month', ' 12000-15000 /month', ' 7500-15000 /month',
       ' 8000 /month +  Incentives', ' 6000-10000 /month',
       ' 3000-6000 /month', ' 14000 /month',
       ' 10000 /month +  Incentives', ' 5000 /month +  Incentives',
       'Unpaid', ' 5000-8000 /month', ' 6000 lump sum', ' 30000 /month',
       ' 2000-5000 /month', ' 22000 /month', ' 4000-6000 /month',
       ' 5000-6000 /month', ' 9000-18000 /month', ' 2000-7000 /month',
       ' 20000-22000 /month', ' 3000 /month +  Incentives',
       ' 7500-10000 /month', ' 6000-9000 /month', ' 7000-9000 /month',
       ' 8500 /month', ' 20000 lump sum +  Incentives',
       ' 13000-14996 /month', ' 13000-15000 /month', ' 2000-2500 /month',
       ' 13000 /month', ' 8000-10000 /week', ' 2500 /month',
       ' 6000 /month +  Incentives', ' 7500-12500 /month',
       ' 4000 /month +  Incentives', ' 2000-4000 /month',
       ' 30000 lump sum', ' 6500 /month', ' 12000-16000 /month',
       ' 12000-18000 /month', ' 2500-7000 /month', ' 3000-8000 /month',
       ' 9000-14000 /month', ' 7500 /month +  Incentives',
       ' 21000 lump sum', ' 6000-8000 /month',
       ' 2000 /week +  Incentives', ' 7000-8000 /month', ' 400 /week',
       ' 5000-8500 /month'], dtype=object)

In [18]:
import re

def preprocess_stipend(x):
    x = str(x).strip()

    # Unpaid
    if "Unpaid" in x:
        return pd.Series([0, 0, 0, "none", 1, 0, 0])

    # Performance Based
    if "Performance" in x:
        return pd.Series([0, 0, 0, "none", 0, 1, 0])

    # Detect Incentives
    incentives = 1 if "Incentives" in x else 0

    # Type (month, week, lump sum, etc.)
    if "month" in x:
        stype = "month"
    elif "week" in x:
        stype = "week"
    elif "lump sum" in x:
        stype = "lump_sum"
    else:
        stype = "other"

    # Extract numbers
    numbers = re.findall(r'\d+', x)
    numbers = list(map(int, numbers))

    if len(numbers) == 0:
        return pd.Series([0, 0, 0, stype, 0, 0, incentives])
    elif len(numbers) == 1:
        return pd.Series([numbers[0], numbers[0], numbers[0], stype, 0, 0, incentives])
    elif len(numbers) == 2:
        avg = np.mean(numbers)
        return pd.Series([numbers[0], numbers[1], avg, stype, 0, 0, incentives])
    else:
        return pd.Series([0, 0, 0, stype, 0, 0, incentives])

# Apply to dataset
df[['stipend_min','stipend_max','stipend_avg','stipend_type',
    'stipend_unpaid','stipend_perf','stipend_incentives']] = df['Stipend'].apply(preprocess_stipend)
df=df.drop(columns='Stipend')

In [19]:
df['Duration'].unique()

array(['2 Months', '1 Month', '3 Months', '6 Months', '4 Weeks',
       '4 Months', '5 Months', '1 Week', '6 Weeks', '2 Weeks',
       '12 Months'], dtype=object)

In [20]:
def preprocess_duration(x):
    x = str(x).strip().lower()

    # Extract number
    num = re.findall(r'\d+', x)
    if not num:
        return 0
    num = int(num[0])

    # Convert to months
    if "month" in x:
        months = num
    elif "week" in x:
        months = num / 4   # approx 4 weeks = 1 month
    else:
        months = 0

    return months

# Apply
df['duration_months'] = df['Duration'].apply(preprocess_duration)
df=df.drop(columns='Duration')
df=df.drop(columns=['Skills','Skills_list'])
df.head()

,profile,company,Location,Start Date,Apply by Date,Offer,Perks,Skills_count,3ds Max,Accounting,...,year,time,stipend_min,stipend_max,stipend_avg,stipend_type,stipend_unpaid,stipend_perf,stipend_incentives,duration_months
0,Fashion Design,Enamor,Bangalore,Immediately,11 Nov' 20,Internship,Certificate,3,0,0,...,2020,13:52:57,5000,5000,5000.0,month,0,0,0,2.0
1,Operations,Lakshmi Tools & Components,Hoskote,Immediately,16 Nov' 20,Internship,"Certificate, Letter of recommendation, Free sn...",2,0,0,...,2020,13:52:59,12000,12000,12000.0,month,0,0,0,1.0
2,Photography,Evineon Technologies,Bangalore,Immediately,16 Nov' 20,Internship,"Flexible work hours, Free snacks & beverages",0,0,0,...,2020,13:53:00,10000,12000,11000.0,month,0,0,0,3.0
3,Social Media Marketing,VisualNet Private Limited,Bangalore,Immediately,16 Nov' 20,Internship,"Certificate, Letter of recommendation, Flexibl...",2,0,0,...,2020,13:53:00,7000,7000,7000.0,month,0,0,0,6.0
4,Business Development (Sales),DM Consulting (India) Private Limited,Bangalore,Immediately,16 Nov' 20,Internship,None,0,0,0,...,2020,13:53:01,5000,5000,5000.0,month,0,0,0,6.0

In [21]:
df['Offer'].unique()

array(['Internship', 'Internship with job offer'], dtype=object)

In [22]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Offer_encoded'] = le.fit_transform(df['Offer'])
df=df.drop(columns='Offer')
df.head()

,profile,company,Location,Start Date,Apply by Date,Perks,Skills_count,3ds Max,Accounting,Adobe After Effects,...,time,stipend_min,stipend_max,stipend_avg,stipend_type,stipend_unpaid,stipend_perf,stipend_incentives,duration_months,Offer_encoded
0,Fashion Design,Enamor,Bangalore,Immediately,11 Nov' 20,Certificate,3,0,0,0,...,13:52:57,5000,5000,5000.0,month,0,0,0,2.0,0
1,Operations,Lakshmi Tools & Components,Hoskote,Immediately,16 Nov' 20,"Certificate, Letter of recommendation, Free sn...",2,0,0,0,...,13:52:59,12000,12000,12000.0,month,0,0,0,1.0,0
2,Photography,Evineon Technologies,Bangalore,Immediately,16 Nov' 20,"Flexible work hours, Free snacks & beverages",0,0,0,0,...,13:53:00,10000,12000,11000.0,month,0,0,0,3.0,0
3,Social Media Marketing,VisualNet Private Limited,Bangalore,Immediately,16 Nov' 20,"Certificate, Letter of recommendation, Flexibl...",2,0,0,0,...,13:53:00,7000,7000,7000.0,month,0,0,0,6.0,0
4,Business Development (Sales),DM Consulting (India) Private Limited,Bangalore,Immediately,16 Nov' 20,None,0,0,0,0,...,13:53:01,5000,5000,5000.0,month,0,0,0,6.0,0

In [23]:
df['Start Date'].unique()

array(['Immediately', 'Nothing'], dtype=object)

In [24]:
le = LabelEncoder()
df['StartDate_encoded'] = le.fit_transform(df['Start Date'])
df=df.drop(columns='Start Date')
df.head()

,profile,company,Location,Apply by Date,Perks,Skills_count,3ds Max,Accounting,Adobe After Effects,Adobe Creative Suite,...,stipend_min,stipend_max,stipend_avg,stipend_type,stipend_unpaid,stipend_perf,stipend_incentives,duration_months,Offer_encoded,StartDate_encoded
0,Fashion Design,Enamor,Bangalore,11 Nov' 20,Certificate,3,0,0,0,0,...,5000,5000,5000.0,month,0,0,0,2.0,0,0
1,Operations,Lakshmi Tools & Components,Hoskote,16 Nov' 20,"Certificate, Letter of recommendation, Free sn...",2,0,0,0,0,...,12000,12000,12000.0,month,0,0,0,1.0,0,0
2,Photography,Evineon Technologies,Bangalore,16 Nov' 20,"Flexible work hours, Free snacks & beverages",0,0,0,0,0,...,10000,12000,11000.0,month,0,0,0,3.0,0,0
3,Social Media Marketing,VisualNet Private Limited,Bangalore,16 Nov' 20,"Certificate, Letter of recommendation, Flexibl...",2,0,0,0,0,...,7000,7000,7000.0,month,0,0,0,6.0,0,0
4,Business Development (Sales),DM Consulting (India) Private Limited,Bangalore,16 Nov' 20,None,0,0,0,0,0,...,5000,5000,5000.0,month,0,0,0,6.0,0,0

In [25]:
df['Location'].unique()

array(['Bangalore', 'Hoskote', 'Coimbatore', 'Chandigarh', 'Delhi',
       'Agra', 'Chennai', 'Ahmedabad', 'Pune', 'Secunderabad', 'Kolhapur',
       'Kolkata', 'Mangaluru', 'Mumbai', 'Hubli', 'Gurgaon',
       'Thiruvananthapuram', 'Thrissur', 'Visakhapatnam', 'Faridabad',
       'Indore'], dtype=object)

In [26]:
le = LabelEncoder()
df['Location_encoded'] = le.fit_transform(df['Location'])
df=df.drop(columns='Location')
df.head()

,profile,company,Apply by Date,Perks,Skills_count,3ds Max,Accounting,Adobe After Effects,Adobe Creative Suite,Adobe Illustrator,...,stipend_max,stipend_avg,stipend_type,stipend_unpaid,stipend_perf,stipend_incentives,duration_months,Offer_encoded,StartDate_encoded,Location_encoded
0,Fashion Design,Enamor,11 Nov' 20,Certificate,3,0,0,0,0,1,...,5000,5000.0,month,0,0,0,2.0,0,0,2
1,Operations,Lakshmi Tools & Components,16 Nov' 20,"Certificate, Letter of recommendation, Free sn...",2,0,0,0,0,0,...,12000,12000.0,month,0,0,0,1.0,0,0,9
2,Photography,Evineon Technologies,16 Nov' 20,"Flexible work hours, Free snacks & beverages",0,0,0,0,0,0,...,12000,11000.0,month,0,0,0,3.0,0,0,2
3,Social Media Marketing,VisualNet Private Limited,16 Nov' 20,"Certificate, Letter of recommendation, Flexibl...",2,0,0,0,0,0,...,7000,7000.0,month,0,0,0,6.0,0,0,2
4,Business Development (Sales),DM Consulting (India) Private Limited,16 Nov' 20,None,0,0,0,0,0,0,...,5000,5000.0,month,0,0,0,6.0,0,0,2

In [27]:
df['company'].unique()

array(['Enamor', 'Lakshmi Tools & Components', 'Evineon Technologies',
       'VisualNet Private Limited',
       'DM Consulting (India) Private Limited',
       'Zyena Technologies SDN, BHD, Malaysia',
       'Visual Reality Events & Production', 'Webi7 Digital Media',
       'StoreEDge Solutions Private Limited',
       'Resec Systems Private Limited', 'Transchamp',
       'Gayathri Design Studio', 'TesQuirel Solutions Private Limited',
       'Knedge', 'Bodhsara Wellness And Salt Studio',
       'Brainstorm Consulting', 'Inovexic', 'Cloud Incorporated',
       'OAP India Private Limited', 'Prashant  Dayama', 'Gloify',
       'INEL Power System Engineers',
       'Skillate Laboratories Private Limited', 'United Business',
       'Craftech 360', 'UrbanServ',
       'Mech Skillz Engineering Solutions Private Limited',
       'GT Informatics', 'Yes Property Ventures Private Limited',
       'Rolla Online Institute', 'Digi Streaks',
       'Thirumathi Herbal & Natural Products',
       'SAVITARKA BUSINESS SOLUTIONS PRIVATE LIMITED',
       'I Cap Financial Services', 'QShala', 'HomeInspeKtor',
       'NVT QUALITY LIFESTYLE PROJECTS PRIVATE LIMITED',
       'Fincomienzo Solutions Private Limited', 'Digifuse',
       'Woodenstreet Furniture',
       'Coursechamps Internet Ventures Private Limited', 'Fostpro',
       'Global Shiksha India Private Limited', 'Homesifyi.com',
       'JustWash Car Care Llp', 'STEM SHOP STORE', 'Decorpot',
       'Godhuli Group', 'LAKSHMI JOINT VENTURE', 'Bambrew',
       'Intellicool Solutions Private Limited',
       'Sparcolife Digital Healthcare Technologies Private Limited',
       'ICS Consultancy Services', 'Codingal Education Private Limited',
       'BUMSONTHESADDLE', 'Openwater.in Private Limited',
       'CBS Innovations', 'Mutterfly', 'WebMOBI',
       'Duru Cooperation Private Limited', 'Yes Property',
       '12 Square Interiors', 'BoldFit', 'Webscale Networks',
       'Blismos Solutions Private Limited', 'Yo Doozy', 'ShoppRe',
       'Vent For You', 'Digi Upaay',
       'American Institute Of Big Data Professionals',
       'The Majesstine Sports', 'Carfin Automobile Financial Services',
       'Flux', 'Farid Consultants', 'Axcess.io', 'INLINE-4 AUTOMOTIVE',
       'Hana E Solutions', 'Yantraloop Solutions Private Limited',
       'CollegeBol', 'SJR Primecorp', 'PagarBook',
       'HTH Technolabs Private Limited', 'Hotkhana.com', 'Atcompliance',
       'Datawrkz Business Solutions Private Limited',
       'Revaalo Technology Private Limited', 'Fae Bikes', 'Flipshope',
       'Enzen Global Solutions Private Limited',
       'HOTLEADS - A WEBUZZ Digital Private Limited Brand',
       'Shriram Properties Limited', 'UCPro LLP', 'Cuemath', 'FlippAR',
       'Zebo.ai', 'ALOHA Architects',
       'ByAndLarge : BAL CORPORATE SERVICES PRIVATE LIMITED', 'Stylsa',
       'Seed Studio LLP', 'Zutawa Studios Private Limited',
       'Ms. Kwikpic Tech Services', 'Securaa', 'Melting Flowers',
       'Tynimo Life Style Private Limited',
       'Purplefront Technologies Private Limited', 'Navigus',
       'Digibook Technologies Private Limited', 'Sorted Works Inc',
       'NUNAM (IMBUO EXPLORATION)', 'Enhancer Solutions Private Limited',
       'Inferigence Quotient LLP', 'Lugano Technology Services',
       'Krew Ventures', 'Ecozen Solutions', 'Saswath Academy',
       'UNORGANISED WORLD WELFARE FOUNDATION', 'Unplan',
       'EDominer Systems Private Limited', 'Looks Saloon', 'DoorTask',
       'KeyLynk Business Consulting Private Limited', 'Grexter',
       'KUST HEALTHCARE PRIVATE LIMITED',
       'Voltronex Technologies Private Limited',
       'Farmstruck Global Private Limited', 'Kaalia Productions',
       'HalfCute Internet Private Limited', 'La Muse',
       'Phoenix Food Services', 'Zapr Media Labs', 'SUN Mobility',
       'Ashva Wearable Technologies',
       'SoftEzi Solutions Limited Liability Partnership',
       'GP Education Management Corporation Private Limited',
       'Coviam Technologies', 'DhiSigma Systems Private Limited',
       'CollegeDoors.com', 'Mapmyops | Intelloc Mapping Services',
       'Paskon (India) Private Limited',
       'Lloyd Harrington Australia Proprietary Limited', 'Samosa Singh',
       'Sidangel Fund', 'GreedyGame Media Private Limited',
       'Lee Spring Company India Private Limited', 'Enzo League',
       'Digital Roy Academy', 'SmallBzr', 'Naved Qureshi',
       'Shreeram Technologies Services Private Limited',
       'Solortus Designs', 'Transformplus', 'LearnMall',
       'Putatoe Technologies Private Limited', 'Interview Cracker',
       'Wish Karo', 'Last Bootcamp', 'Design Cafe', 'John Meridian',
       'WebxInfinity IT Solutions A Venture Of Blowpix Solutions Pvt Ltd',
       'JookeBox', 'Ifurnish', 'Beegle',
       'IPexcel Services Private Limited',
       'Innomonk Technologies Private Limited',
       'YantroMitra Learning Technologies',
       'Protoezy Designs Private Limited', 'WEBUZZ', 'BrandRaga',
       'WaterScience', 'Knight Frank (India) Private Limited',
       'Joveo Technologies Private Limited', 'Sertify', 'GetInHours',
       'Rubirth IT Solutions Private Limited',
       'Netmeds Marketplace Limited',
       'Ruson Infomedia Private Limited (The Boring News Company)',
       'Lumbermantech Furnitures Private Limited', 'Tesseract Education',
       'Astromata', 'APD Foundation',
       'Samosa Party Foods Private Limited',
       'Pinaacle Technologies Private Limited', 'Digital Vakil',
       'Cubereum', 'CueLearn', 'EcoWell', 'TheIndianMom',
       'Fin-School Education LLP', 'AbleCold Logistics', 'NoBroker',
       'Indian Institute of E-Commerce', 'Ownerstown', 'Highway Delite',
       'A & AB Associates', 'Tough Club Fitness', 'ZENSKAA RETAIL',
       'FirstHive', 'Mellow Designs', 'Joblogy', 'Cook With Parul',
       'Techkit', 'Colorsmart Enterprises',
       'Fangover Food Services Private Limited', 'EMEA TECH HOUSE',
       'Vedic Wellness University', 'Admissions Abroad', 'LeadStrategus',
       'Zopnik Innovations Private Limited', 'Jinoy Dave',
       'Megagon Corporate Services', 'Amit Mishra', 'JOKER & WITCH',
       'Rovia Solutions', 'Dobe Lifestyle', 'Park+', 'Mintbook',
       'Meaven Interior Design Studio', 'We Create Problems',
       'Team Works', 'Ikshan Solutions Private Limited',
       'Factech Automation Solutions Private Limited',
       'Ashtamangal Solutions And Services', 'WizKlub',
       'Trupti Consultants', 'BrandLand Advertising Private Limited',
       'Adjetter Media Network Private Limited',
       'Linkart E-Commerce Private Limited',
       'VIDYASHREE HOUSE PRIVATE LIMITED',
       'Yumzy - The Food Delivery App', 'Codeyoung',
       'Vedantu Innovations Private Limited', 'XGrow',
       'SHLR Technosoft Private Limited', 'Nsemble AI', 'Saaj By Ankita',
       'Elaachi', 'Outofbox Advertising', 'Embibe', 'LocalRamu',
       'Surebot Technology Solutions', 'Verzeo', 'Ourlybee Pvt Ltd.',
       'IUGALE Services Private Limited',
       'Applicate IT Solutions Private Limited', 'Locaguide', 'Sigmoid',
       'Ficuslot Innovation Private Limited', 'DUIT Technologies',
       'ShreeRaj Technologies', 'Qalara (MesIndus Ventures)',
       'Prashaste Education And Management Consultancy Private Limited',
       'My Vacala Private Limited', 'CarX',
       'Neebal Technologies Private Limited', 'RightMark Solutions',
       'Ideapoke Technologies Private Limited', 'Lo! Foods',
       'Swadhin Chhajed', 'Mabel Clothing',
       'Solution Buggy Connect Private Limited', 'YKR Yatish Productions',
       'Shiva Ganga Spices', 'SocialComment Private Limited',
       'Brandppulse Marketing Services Private Limited',
       'Diatoz Solutions', 'ZRPL', 'Afterimage',
       'Divineshop Ecommerce Solution Private Limited',
       'Network Friendship Media Technology', 'Cuberootz',
       'CA Yash Jain & Associates', 'MrStudyBuddy', 'Steri Innovations',
       'ToolBox', 'Blucap LLP', 'Abhigrow Solutions Private Limited',
       'TVC Health Private Limited', 'RoadMetrics', 'Apogee Tech Global',
       'Azanisport', 'Shining Cloud', 'Squadra Media Private Limited',
       'TREEHACK', 'Pinetech IT Solutions', 'Prakshep Private Limited',
       'Nasher Miles', 'JadeCaps Technologies Private Limited', 'Comezzo',
       'GoAbrigo Hospitalities', 'Jayswal Agencies', 'GroomX',
       'Brahm Works Private Limited', 'Kofluence', 'HealthKart',
       'Le Mark School Of Art', 'Engati', 'Upakarna', 'Blowhorn',
       'Brih Solutions', 'Atri Technocrat', 'Gravity Infra Solutions',
       'Anthill Creations', 'Digital Madhyam', 'RR Lifestyles',
       'CoLLearn Education', 'Xsaras', 'ExoTalent', 'Indigo Solutions',
       'ZISPL', 'Think201 Creative Studio',
       'Bunny Bash Events And Rentals', 'Bright Foods N Beverages',
       'Quick Ride', 'YourDOST Health Solutions', 'Open Door Education',
       'Rai Techintro Private Limited',
       'Baraati Media & Entertainment Private Limited',
       'Futures And Careers (FAC)',
       'IClimb Systems India Private Limited', 'Noon Academy',
       'CloudInfra', 'Dioxe Technologies Private Limited', 'Iqbal Ahmed',
       "Look Who's Talking", 'DESIGNCAFE', 'Expersight',
       'AyurVAID Hospitals',
       'IPRIMED Education Solutions Private Limited',
       'The Eat Neat Project', 'GiveIndia', 'REVIVE', 'Volopay',
       'Fenton Chemicals', 'Millet Amma', 'Spinny', 'SPACECLAP',
       'Daksha Fellowship', 'Integrated Media', 'Paxnova Services',
       'KITES Senior Care', 'Ridge Info Technology',
       'CIOC FMCG Private Limited', 'Intrisus Corporation',
       'Icecreamlabs', 'Deepak Menon', 'OKR Edge',
       'Satyukt Analytics Private Limited', 'BetterPlace',
       'ELAMIGO E-COM PRIVATE LIMITED', 'Buzet',
       'India Manpower Solutions', 'Biltrax Construction Data',
       'Stock Market Institute', 'Lucio IT Services', 'Genesis Live',
       'Aman Jain', 'Tika Data Services Private Limited', 'Exygo',
       'Logic Legends', 'Mind Fleck Private Limited',
       'IDisha Info Labs Private Limited', 'DrinkPrime', 'UnDiabetes',
       'PlaySimple Games Private Limited', 'FunStay', 'FunPay.in',
       'Buzo Media Services',
       'InvestSaathi Financial Services Private Limited', 'BDO India LLP',
       'Terra Economics Analysis Lab', 'My Media City', 'ThePendits',
       'MothersFood', 'Pendios Technologies Private Limited', 'Buildcom',
       'Webpulse Solution Private Limited',
       'Kualify Services Private Limited', 'Tercept Incorporation'],
      dtype=object)

In [28]:
le = LabelEncoder()
df['Company_encoded'] = le.fit_transform(df['company'])
df=df.drop(columns='company')
df.head(2)

,profile,Apply by Date,Perks,Skills_count,3ds Max,Accounting,Adobe After Effects,Adobe Creative Suite,Adobe Illustrator,Adobe Photoshop,...,stipend_avg,stipend_type,stipend_unpaid,stipend_perf,stipend_incentives,duration_months,Offer_encoded,StartDate_encoded,Location_encoded,Company_encoded
0,Fashion Design,11 Nov' 20,Certificate,3,0,0,0,0,1,0,...,5000.0,month,0,0,0,2.0,0,0,2,99
1,Operations,16 Nov' 20,"Certificate, Letter of recommendation, Free sn...",2,0,0,0,0,0,0,...,12000.0,month,0,0,0,1.0,0,0,9,193

In [29]:
df['Perks'].unique()

array(['Certificate',
       'Certificate, Letter of recommendation, Free snacks & beverages',
       'Flexible work hours, Free snacks & beverages',
       'Certificate, Letter of recommendation, Flexible work hours, 5 days a week, Free snacks & beverages',
       'None',
       'Certificate, Letter of recommendation, Flexible work hours, 5 days a week, Free snacks & beverages, Job offer',
       'Certificate, Letter of recommendation, Job offer',
       'Certificate, Free snacks & beverages',
       'Certificate, Letter of recommendation, Flexible work hours, 5 days a week',
       'Certificate, 5 days a week',
       'Certificate, Letter of recommendation, 5 days a week',
       'Certificate, Letter of recommendation, 5 days a week, Job offer',
       'Certificate, Letter of recommendation, 5 days a week, Free snacks & beverages, Job offer',
       'Certificate, Letter of recommendation, Flexible work hours, Job offer',
       'Certificate, Letter of recommendation, Flexible work hours',
       'Certificate, Job offer',
       'Certificate, Letter of recommendation, Flexible work hours, 5 days a week, Job offer',
       'Job offer', 'Flexible work hours, 5 days a week',
       'Certificate, Flexible work hours, Job offer',
       'Certificate, Letter of recommendation',
       'Letter of recommendation, Flexible work hours, Job offer',
       'Certificate, Flexible work hours, 5 days a week',
       'Certificate, Flexible work hours', 'Letter of recommendation',
       '5 days a week',
       'Certificate, Flexible work hours, 5 days a week, Free snacks & beverages',
       'Certificate, Letter of recommendation, 5 days a week, Free snacks & beverages',
       'Certificate, Letter of recommendation, Flexible work hours, Free snacks & beverages, Job offer',
       'Flexible work hours', '5 days a week, Job offer',
       'Certificate, Letter of recommendation, Free snacks & beverages, Job offer',
       'Certificate, Flexible work hours, Free snacks & beverages, Job offer',
       'Certificate, 5 days a week, Job offer', 'Free snacks & beverages',
       'Certificate, Flexible work hours, 5 days a week, Job offer',
       'Letter of recommendation, 5 days a week, Job offer',
       'Letter of recommendation, 5 days a week, Free snacks & beverages',
       'Certificate, Flexible work hours, Free snacks & beverages',
       'Certificate, Letter of recommendation, Flexible work hours, Free snacks & beverages',
       'Letter of recommendation, Flexible work hours',
       '5 days a week, Free snacks & beverages',
       'Letter of recommendation, Flexible work hours, 5 days a week, Job offer',
       'Letter of recommendation, 5 days a week',
       'Certificate, 5 days a week, Free snacks & beverages',
       'Certificate, Free snacks & beverages, Job offer',
       'Flexible work hours, 5 days a week, Free snacks & beverages, Job offer'],
      dtype=object)

In [30]:
# Split each string by comma and strip spaces
all_perks = set()
for perks in df['Perks']:
    if perks != 'None':
        for perk in perks.split(','):
            all_perks.add(perk.strip())

for perk in all_perks:
    df[f'Perk_{perk}'] = df['Perks'].apply(lambda x: int(perk in x) if x != 'None' else 0)

In [31]:
df=df.drop(columns='Perks')
print("Shape:",df.shape)

Shape: (513, 77)

In [32]:
df.head(2)

,profile,Apply by Date,Skills_count,3ds Max,Accounting,Adobe After Effects,Adobe Creative Suite,Adobe Illustrator,Adobe Photoshop,Adobe Photoshop Lightroom CC,...,Offer_encoded,StartDate_encoded,Location_encoded,Company_encoded,Perk_Letter of recommendation,Perk_Certificate,Perk_5 days a week,Perk_Free snacks & beverages,Perk_Job offer,Perk_Flexible work hours
0,Fashion Design,11 Nov' 20,3,0,0,0,0,1,0,0,...,0,0,2,99,0,1,0,0,0,0
1,Operations,16 Nov' 20,2,0,0,0,0,0,0,0,...,0,0,9,193,1,1,0,1,0,0

In [33]:
df['profile'].unique()

array(['Fashion Design', 'Operations', 'Photography',
       'Social Media Marketing', 'Business Development (Sales)',
       'Event Management/Wedding Planning', 'Digital Marketing',
       'Graphic Design', 'Cyber Security',
       'Java App Development (Spring Boot & Hibernate)',
       'Python Web Application', 'Search Engine Optimization (SEO)',
       'Human Resources (HR)', 'Law/ Legal', 'iOS App Development',
       'Customer Support', 'Firmware Development', 'Marketing',
       'Online Marketing', 'Career Returnee Program (Women)',
       'Financial Advisor Training', 'Civil Engineering',
       'Interior Design',
       'Subject Expert For Creating Tutorials (Python)',
       'Web Development', 'Acting & Cinematography', 'Telecalling',
       'Research And Development (Grey Water Treatment)',
       'Inventory Management', 'Assembly & Manufacturing',
       'Event Management', 'Customer Service', 'Content Writing',
       'Big Data Development And Testing', 'Finance', 'Counseling',
       'Test Ops Engineering', 'Cloud Engineering', 'Campus Ambassador',
       'UI & UX Analyst', 'Software Development', 'Teaching',
       'Architecture', 'Supply Chain Management (SCM)',
       'Mobile App Development', 'Firmware', 'Data Entry',
       'Architect Trainee', 'Chess Coaching',
       'Mechatronics (Electric Motorcycle Research And Development)',
       'Operations (Junior Assistant)', 'Lead Generation',
       'Project Mentoring', 'Customer Support Success',
       'Market Expansion', 'Full Stack Development', 'UI/UX Design',
       'Warehouse Incharge/Store Executive', 'PHP Development',
       'Flutter Application Development (Full Stack)',
       'Mechanical Engineering', 'Fashion Photography/ Videography',
       'Test Automation Engineering', 'Java Development',
       'Technical/Patent Analysis', 'Technologist',
       'Operations Management', 'E-commerce Operations',
       'Customer Success Management', 'Business Development',
       'Content Management', 'Pharmacist', 'Ruby On Rails Development',
       'Video Making/Editing', 'Android App Development',
       'Human Resources (IT Recruitment)', 'Python Development',
       'Logistics', 'Field Operations', 'Accounts', 'Data Engineering',
       'Project Management', 'Telesales', 'Animation',
       'Photography Styling & Creatives', 'Content Marketing',
       'UI Development', 'UX Design', 'Data Science',
       'Subject Matter Expert - English/SST', 'Marketing Management',
       'Videography', 'Chinese Interpreter', 'Angular Development',
       'Android/Flutter App Development', 'Project Coordination',
       'DevOps Engineering', 'Growth Hacking', 'QIS',
       'Flutter Development', 'Consulting', 'BPO (Voice Process)',
       'Market Research', 'Materials Science/Chemical Market Research',
       'Retail Sales', 'Chartered Accountancy (CA)', 'Accountancy',
       'Merchandise Design Apparel', 'Machine Learning',
       'Programmatic DOOH Advertising/Marketing', 'MIS Execution',
       'Market Research (BE+MBA)', 'UI (React) Development',
       'Field Sales', 'Game Design', 'Anchoring',
       'Java Full Stack Development', 'Operations (e-commerce orders)',
       'Book Writing', 'Electronics Engineering', 'Blogging',
       'Business Strategy', 'Supply Coordination',
       'Operations (Fashion Design)', 'Merchandise Design',
       'Data Annotation', 'Quality Assurance (QA) Testing',
       'Birthday/Surprise Planning', 'Product Management',
       'Image Editing', 'Catalog Management (E-commerce)',
       'Executive Assistant/Chief Of Staff', 'Sales And Marketing',
       'Tech Management', 'Videography & Photography', 'Cold Calling',
       'Electrical Engineering', 'Technical Field Support',
       'Proofreading', 'Journalism', 'GIS Engineering', 'Communications',
       'Field Visit/Site Visit', 'Research', 'Client Servicing',
       'Sales Executive', 'Video Editing & VFX',
       'Chat Based Customer Support', 'Company Secretary (CS)',
       'Nutrition', 'Power Electronics Design (Inverter)',
       'Full-stack Development',
       'Big Data & Full Stack Software Development'], dtype=object)

In [34]:
le = LabelEncoder()
df['Profile_encoded'] = le.fit_transform(df['profile'])
df=df.drop(columns='profile')
df.head(2)

,Apply by Date,Skills_count,3ds Max,Accounting,Adobe After Effects,Adobe Creative Suite,Adobe Illustrator,Adobe Photoshop,Adobe Photoshop Lightroom CC,Adobe Premiere Pro,...,StartDate_encoded,Location_encoded,Company_encoded,Perk_Letter of recommendation,Perk_Certificate,Perk_5 days a week,Perk_Free snacks & beverages,Perk_Job offer,Perk_Flexible work hours,Profile_encoded
0,11 Nov' 20,3,0,0,0,0,1,0,0,0,...,0,2,99,0,1,0,0,0,0,55
1,16 Nov' 20,2,0,0,0,0,0,0,0,0,...,0,9,193,1,1,0,1,0,0,99

In [35]:
df=df.drop(columns='Apply by Date')
df.head()

,Skills_count,3ds Max,Accounting,Adobe After Effects,Adobe Creative Suite,Adobe Illustrator,Adobe Photoshop,Adobe Photoshop Lightroom CC,Adobe Premiere Pro,Android,...,StartDate_encoded,Location_encoded,Company_encoded,Perk_Letter of recommendation,Perk_Certificate,Perk_5 days a week,Perk_Free snacks & beverages,Perk_Job offer,Perk_Flexible work hours,Profile_encoded
0,3,0,0,0,0,1,0,0,0,0,...,0,2,99,0,1,0,0,0,0,55
1,2,0,0,0,0,0,0,0,0,0,...,0,9,193,1,1,0,1,0,0,99
2,0,0,0,0,0,0,0,0,0,0,...,0,2,104,0,0,0,1,0,1,106
3,2,0,0,0,0,0,0,0,0,0,...,0,2,346,1,1,1,1,0,1,126
4,0,0,0,0,0,0,0,0,0,0,...,0,2,70,0,0,0,0,0,0,18

In [36]:
df.to_csv('cleaned_dataset.csv')
print("Saved successfully")

Saved successfully