In [301]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [302]:
df=pd.read_csv("BANGALORE.csv")
df.head()

,_id,Date Time,profile,company,Location,Start Date,Stipend,Duration,Apply by Date,Offer,Skills and Perks
0,5f9fc1e3fb43357b9094a297,2020-11-02 13:52:57,Fashion Design,Enamor,Bangalore,Immediately,5000 /month,2 Months,11 Nov' 20,Internship,"[""MS-Office"",""Adobe Illustrator"",""CorelDRAW"",""..."
1,5f9fc1e4fb43357b9094a298,2020-11-02 13:52:59,Operations,Lakshmi Tools & Components,Hoskote,Immediately,12000 /month,1 Month,16 Nov' 20,Internship,"[""Chemistry"",""Certificate"","" Letter of recomme..."
2,5f9fc1e4fb43357b9094a299,2020-11-02 13:53:00,Photography,Evineon Technologies,Bangalore,Immediately,10000-12000 /month,3 Months,16 Nov' 20,Internship,"[""Flexible work hours"","" Free snacks & beverag..."
3,5f9fc1e5fb43357b9094a29a,2020-11-02 13:53:00,Social Media Marketing,VisualNet Private Limited,Bangalore,Immediately,7000 /month,6 Months,16 Nov' 20,Internship,"[""MS-Office"",""Certificate"","" Letter of recomme..."
4,5f9fc1e6fb43357b9094a29b,2020-11-02 13:53:01,Business Development (Sales),DM Consulting (India) Private Limited,Bangalore,Immediately,5000 /month,6 Months,16 Nov' 20,Internship,[]

In [303]:
for i in df.columns:
    print(i,":",df[i].nunique())

_id : 513
Date Time : 403
profile : 153
company : 378
Location : 21
Start Date : 2
Stipend : 98
Duration : 11
Apply by Date : 24
Offer : 2
Skills and Perks : 387

In [304]:
df.isna().sum()

_id                 0
Date Time           0
profile             0
company             0
Location            0
Start Date          0
Stipend             0
Duration            0
Apply by Date       0
Offer               0
Skills and Perks    0
dtype: int64

In [305]:
df.duplicated().sum()

np.int64(0)

In [306]:
df['Skills and Perks'].value_counts().head(10)

Skills and Perks
[]                                                                                           21
["Certificate"]                                                                              17
["Certificate"," Letter of recommendation"]                                                  14
["Certificate"," Letter of recommendation"," Flexible work hours"," Job offer"]              10
["Certificate"," Letter of recommendation"," Flexible work hours"," Informal dress code"]     9
["Certificate"," Letter of recommendation"," Flexible work hours"]                            8
["Certificate"," Job offer"]                                                                  6
["Certificate"," Letter of recommendation"," Job offer"]                                      5
["Certificate"," Letter of recommendation"," Informal dress code"]                            4
["Certificate"," Flexible work hours"]                                                        4
Name: count, dtype: int64

In [307]:
df["Skills and Perks"].replace("[]","No skill",inplace=True)

C:\Users\ganesh\AppData\Local\Temp\ipykernel_3168\3704861103.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Skills and Perks"].replace("[]","No skill",inplace=True)

In [308]:
df.head()

,_id,Date Time,profile,company,Location,Start Date,Stipend,Duration,Apply by Date,Offer,Skills and Perks
0,5f9fc1e3fb43357b9094a297,2020-11-02 13:52:57,Fashion Design,Enamor,Bangalore,Immediately,5000 /month,2 Months,11 Nov' 20,Internship,"[""MS-Office"",""Adobe Illustrator"",""CorelDRAW"",""..."
1,5f9fc1e4fb43357b9094a298,2020-11-02 13:52:59,Operations,Lakshmi Tools & Components,Hoskote,Immediately,12000 /month,1 Month,16 Nov' 20,Internship,"[""Chemistry"",""Certificate"","" Letter of recomme..."
2,5f9fc1e4fb43357b9094a299,2020-11-02 13:53:00,Photography,Evineon Technologies,Bangalore,Immediately,10000-12000 /month,3 Months,16 Nov' 20,Internship,"[""Flexible work hours"","" Free snacks & beverag..."
3,5f9fc1e5fb43357b9094a29a,2020-11-02 13:53:00,Social Media Marketing,VisualNet Private Limited,Bangalore,Immediately,7000 /month,6 Months,16 Nov' 20,Internship,"[""MS-Office"",""Certificate"","" Letter of recomme..."
4,5f9fc1e6fb43357b9094a29b,2020-11-02 13:53:01,Business Development (Sales),DM Consulting (India) Private Limited,Bangalore,Immediately,5000 /month,6 Months,16 Nov' 20,Internship,No skill

In [309]:
import ast

In [310]:
skill_keywords = {"Certificate", "Letter of recommendation"}

# Function to parse and split
def extract_skills_perks(entry):
    if entry == 'No skill':
        return "[No skills]", "[No perks]"
    try:
        parsed = ast.literal_eval(entry)
        skills = [i for i in parsed if i in skill_keywords]
        perks = [i for i in parsed if i not in skill_keywords]
        return skills, perks
    except Exception as e:
        print("Error parsing:", entry, "|", e)
        return "[No skills]", "[No perks]"

# Apply the function
df[['Skills', 'Perks']] = df['Skills and Perks'].apply(lambda x: pd.Series(extract_skills_perks(x)))

In [311]:
df['Skills'] = df['Skills'].apply(lambda x: "[No skills]" if x == [] else x)
df['Perks'] = df['Perks'].apply(lambda x: "[No perks]" if x == [] else x)

In [312]:
df['Skills'].value_counts()

Skills
[Certificate]                 438
[No skills]                    61
[Letter of recommendation]     14
Name: count, dtype: int64

In [313]:
df['Skills'].head()

0    [Certificate]
1    [Certificate]
2      [No skills]
3    [Certificate]
4      [No skills]
Name: Skills, dtype: object

In [314]:
df['Perks'].value_counts().head()

Perks
[No perks]                                                                 38
[ Letter of recommendation]                                                14
[ Letter of recommendation,  Flexible work hours,  Job offer]              10
[ Letter of recommendation,  Flexible work hours,  Informal dress code]     9
[ Letter of recommendation,  Flexible work hours]                           8
Name: count, dtype: int64

In [315]:
df.drop(columns='Skills and Perks',inplace=True)

In [316]:
df.columns

Index(['_id', 'Date Time', 'profile', 'company', 'Location', 'Start Date',
       'Stipend', 'Duration', 'Apply by Date', 'Offer', 'Skills', 'Perks'],
      dtype='object')

In [ ]:
df["Date Time"]=pd.to_datetime(df["Date Time"],errors="coerce")
df["Date"]=df["Date Time"].dt.day
df["month"]=df["Date Time"].dt.month
df["year"]=df["Date Time"].dt.year
df["time"]=df["Date Time"].dt.time

In [318]:
df.head()

,_id,Date Time,profile,company,Location,Start Date,Stipend,Duration,Apply by Date,Offer,Skills,Perks,Date,month,year,time
0,5f9fc1e3fb43357b9094a297,2020-11-02 13:52:57,Fashion Design,Enamor,Bangalore,Immediately,5000 /month,2 Months,11 Nov' 20,Internship,[Certificate],"[MS-Office, Adobe Illustrator, CorelDRAW]",2020-11-02,11,2020,13:52:57
1,5f9fc1e4fb43357b9094a298,2020-11-02 13:52:59,Operations,Lakshmi Tools & Components,Hoskote,Immediately,12000 /month,1 Month,16 Nov' 20,Internship,[Certificate],"[Chemistry, Letter of recommendation, Inform...",2020-11-02,11,2020,13:52:59
2,5f9fc1e4fb43357b9094a299,2020-11-02 13:53:00,Photography,Evineon Technologies,Bangalore,Immediately,10000-12000 /month,3 Months,16 Nov' 20,Internship,[No skills],"[Flexible work hours, Free snacks & beverages]",2020-11-02,11,2020,13:53:00
3,5f9fc1e5fb43357b9094a29a,2020-11-02 13:53:00,Social Media Marketing,VisualNet Private Limited,Bangalore,Immediately,7000 /month,6 Months,16 Nov' 20,Internship,[Certificate],"[MS-Office, Letter of recommendation, Flexib...",2020-11-02,11,2020,13:53:00
4,5f9fc1e6fb43357b9094a29b,2020-11-02 13:53:01,Business Development (Sales),DM Consulting (India) Private Limited,Bangalore,Immediately,5000 /month,6 Months,16 Nov' 20,Internship,[No skills],[No perks],2020-11-02,11,2020,13:53:01